/* Couleurs de base */
:root {
    --bg: #273445;
    --shadow-light: #324257;
    --shadow-dark: #1c2532; 
    --text: #e8efff;        
}
/* Arrière-plan général */
body {
    background: var(--bg);
    font-family: Arial, sans-serif;
    color: var(--text);
}

/* Conteneur principal */
.page-container {
    width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: var(--bg);
    border-radius: 20px;
    box-shadow:
        9px 9px 18px var(--shadow-dark),
        -9px -9px 18px var(--shadow-light);
}

/* HEADER */
.header-box {
    position: relative;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    background: var(--bg);
    box-shadow:
        6px 6px 12px var(--shadow-dark),
        -6px -6px 12px var(--shadow-light);
}

/* Bloc infos machine */
.main-info {
    padding: 20px;
    border-radius: 15px;
    background: var(--bg);
    box-shadow:
        inset 4px 4px 8px var(--shadow-dark),
        inset -4px -4px 8px var(--shadow-light);
}

/* Petite boîte en haut à droite */
.infos {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 15px;
    border-radius: 12px;
    background: var(--bg);
    box-shadow:
        inset 4px 4px 8px var(--shadow-dark),
        inset -4px -4px 8px var(--shadow-light);
}

/* CPU + RAM */
.hardware {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 20px;
    background: var(--bg);

}

.cpu-box, .ram-box {
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    background: var(--bg);
    box-shadow:
        4px 4px 10px var(--shadow-dark),
        -4px -4px 10px var(--shadow-light);
}

.cpu-content, .ram-content {
    margin-top: 15px;
    padding: 15px;
    height: 180px;
    border-radius: 15px;
    background: var(--bg);

}

/* SOFTWARE */
.software {
    padding: 20px;
    border-radius: 20px;
    background: var(--bg);
    box-shadow:
        6px 6px 12px var(--shadow-dark),
        -6px -6px 12px var(--shadow-light);
}

/* Liste des processus */
.process-list {
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 25px;
    background: var(--bg);
    box-shadow:
        4px 4px 10px var(--shadow-dark),
        -4px -4px 10px var(--shadow-light);
}

/* Tableau interne */
.process-table {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    border-radius: 10px;
    margin-top: 15px;
    background: var(--bg);

}

.process-table .col {
    padding: 10px;
    text-align: center;
            box-shadow:
        4px 4px 10px var(--shadow-dark),
        -4px -4px 10px var(--shadow-light);
}
.process-table .col2 {
    padding: 10px;
    text-align: center;
        box-shadow:
        4px 4px 10px var(--shadow-dark),
        -4px -4px 10px var(--shadow-light);
}
/* Top 5 */
.top5 {
    padding: 15px;
    border-radius: 15px;
    background: var(--bg);


}

/* JAUGE CIRCULAIRE */
.gauge {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    margin: auto;
    background: var(--bg);
    box-shadow:
        inset -8px -8px 15px var(--shadow-light),
        inset 8px 8px 15px var(--shadow-dark);
}

.gauge-fill {
    width: 100%;
    height: 100%;
    background: conic-gradient(#4caf50 0deg, #4caf50 0deg, transparent 0deg);
    border-radius: 50%;
    transition: all 0.4s ease;
}

.gauge-cover {
    width: 85px;
    height: 85px;
    background: var(--bg);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: var(--text);
    box-shadow:
        -4px -4px 10px var(--shadow-light),
        4px 4px 10px var(--shadow-dark);

}
