<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triple A</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<script src="{{ url_for('static', filename='js/gauge.js') }}"></script>


</html>

<body>

    <div class="page-container">

        <header class="header-box">
            <div class="main-info">
                <h1>{{name_machine}}</h1>
                <h3>Système : {{name_os}} {{name_systeme}}</h3>
                <h3>Adresse IP : {{ip_adress}}</h3>
            </div>

            <div class="infos">
                Heure démarrage : {{start_systeme}}<br>
                Connecté depuis : {{uptime_systeme}}<br>
                Utilisateurs : {{name_user}} <br>
            </div>
        </header>

        <div class="hardware">

            <div class="cpu-box">
                <h2>CPU</h2>
                <div class="cpu-content">
                    Nombres de coeurs : {{heart_cpu}} <br>
                    Fréquence Hz : {{freq_cpu}}<br><br>

                    <div class="gauge">
                        <div class="gauge-fill" id="cpu-fill"></div>
                        <div class="gauge-cover" id="cpu-text">{{percent_cpu}}</div>
                    </div>
                </div>
            </div>

            <div class="ram-box">
                <h2>RAM</h2>
                <div class="ram-content">
                    RAM utilisée {{use_ram}} / RAM totale {{full_ram}} <br><br>

                    <div class="gauge">
                        <div class="gauge-fill" id="ram-fill"></div>
                        <div class="gauge-cover" id="ram-text">{{percent_ram}}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="software">

        <h2>SOFT</h2>

        <div class="process-list">
            <h3>Liste des processus</h3>

            <div class="process-table header">
                <div class="col">Nom du Processus (PID)</div>
                <div class="col2">CPU %</div>
                <div class="col2">RAM %</div>
            </div>

            {% for p in list_proc %}
            <div class="process-table row">
                <div class="col">{{ p.name }} ({{ p.pid }})</div>
                <div class="col2">{{ "%.1f" | format(p.cpu_percent) }}</div>
                <div class="col2">{{ "%.1f" | format(p.memory_percent) }}</div>
            </div>
            {% endfor %}
        </div>

        <div class="top5">
            <h3>Top 3 Processus (CPU)</h3>

            <div class="process-table header">
                <div class="col">Nom du Processus (PID)</div>
                <div class="col2">CPU %</div>
                <div class="col2">RAM %</div>
            </div>

            {% for p in top_3 %}
            <div class="process-table row top-row">
                <div class="col">{{ p.name }} ({{ p.pid }})</div>
                <div class="col2">{{ "%.1f" | format(p.cpu_percent) }}</div>
                <div class="col2">{{ "%.1f" | format(p.memory_percent) }}</div>
            </div>
            {% endfor %}
        </div>

    </div>

    </div>


    <script src="{{ url_for('static', filename='js/gauge.js') }}"></script>

    <script>
        updateGauge("cpu-fill", {{ percent_cpu }});
        updateGauge("ram-fill", {{ percent_ram }});
        function refreshGauges() {
            fetch("/api/stats")
                .then(r => r.json())
                .then(data => {
                    updateGauge("cpu-fill", "cpu-text", data.cpu);
                    updateGauge("ram-fill", "ram-text", data.ram);
                });
        }

        refreshGauges();
        setInterval(refreshGauges, 1000);
    </script>

</body>

</html>